h1 {
    color: black;
    background: #00FFFF;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: normal;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container {
  background: #f7f7f7;
  width: 360px;
  margin: 100px auto;
  box-shadow: 20px 5px 5px #A9A9A9;
  
}

li {
    height: 30px;
    line-height: 30px;
    background: #fff;
    color: #666;
}

li:nth-child(2nd){
    background: lightslategray;
}

.completed {
  color: black;
  text-decoration: line-through;
}
body {
    background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body {
    font-family: 'Roboto', sans-serif;
}

input {
    color: white;
    font-size: 18px;
    background-color: #f7f7f7;
    padding: 13px 13px 13px 20px;
    width: 89%;

}

input:focus {
    background: gray;
    border: 3px solid lightskyblue;
    outline: none;
}





//#00FFFF

//font-family: 'Roboto', sans-serif;